<div id="bodyhead">
<span class="bodyhead_item">
  <%= link_to :controller =>'index' , :action =>'index' do %>
    <%= image_tag '/images/button_home.png' %> 
  <% end %>
</span>
<span class="bodyhead_item">
  <%= link_to :controller =>'user' , :action =>'index' do %>
    <%= image_tag '/images/button_mypage.png' %>
  <% end %>
</span>
<span class="bodyhead_item">
  <%= link_to :controller =>'setting' , :action =>'index' do %>
    <%= image_tag '/images/button_setting.png' %>
  <% end %>
</span>
</div>

