<!DOCTYPE html>
<html>
<head>
  <title>もうおうちかえる！</title>
  <meta name="Keywords" content="もう,帰る,かえる,家に,うちに,かえりたい,帰りたい,帰宅,勤怠,出勤,退勤,管理,タイムカード">
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "/css/main.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/presence_time.js" %>
  <%= csrf_meta_tags %>
</head>
<body onload="jikoku()">
<div class="container">
  <div class="title">
    <div id="title_logo"><%= image_tag "/images/titlelogo.png" %></div>
    <div id="title_logo_sub"><%= image_tag "/images/titlelogosub_b.png" %></div>
  </div>
    <%= yield %>
	<div class="footer">
	<p id="site_copyright">&copy; 2012 もうおうちかえる！ Created by <a href="http://twitter.com/#!/Arvelt" target="new">@ Arvelt</a></p>
	<p id="site_templeet">The design templeet by <a href="http://arcsin.se" target="new">http://arcsin.se</a></p>
	<p id="site_font">The font in title by <a href="http://www8.plala.or.jp/p_dolce/index.html" target="new">http://www8.plala.or.jp/p_dolce/index.html</a></p>
	</div>
</div>
</body>
</html>
